# Cấu hình mẫu Cloudinary CDN (Điền thông tin của bạn vào tệp .env)
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_UPLOAD_PRESET=your_upload_preset_here
CLOUDINARY_FOLDER=album
CLOUDINARY_API_KEY=your_api_key_here
